<!DOCTYPE html>
<html>

<head>
    <title>Gerador de Analisadores Lexicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="row col-10 m-auto card p-4 mt-5">
    <form method="POST" enctype="multipart/form-data" class="m-auto" onsubmit="showLoading()">
        <h3>Gerador de Analisadores Lexicos</h3>
        <div class="row">
            <div class="col-12 col-lg-6">
                <label class="form-label">Arquivo de definicoes (regex)</label>
                <input type="file" class="form-control" name="definitions"><br><br>
            </div>
            <div class="col">
                <label class="form-label">Arquivo de testes</label>
                <input type="file" class="form-control" name="tests"><br><br>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Executar</button>
    </form>

    {% if tabela_tokens %}
    <h3>Lista de tokens</h3>
    <pre class="bg-light border rounded p-3">{{ tabela_tokens }}</pre>
    {% endif %}

    <div id="loading" style="
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
        color:white;
        font-size:24px;
        text-align:center;
        padding-top:200px;
        z-index:9999;
    ">
        Desenhando automatos...
    </div>

    {% if automata_svgs %}
    <h3>Automatos gerados</h3>
    {% for svg in automata_svgs %}
    <div style="margin-bottom: 40px;">
        {{ svg | safe }}
    </div>
    {% endfor %}
    {% endif %}

</body>
<script>
    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</html>
